.container {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
}

.answer {
  position: absolte;
  top: 10px;
  botton: 10px;
  background-color: 00000
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
