div {
  overflow-y: auto
}

.wordList {
  color: black;
  cursor: pointer;
}

.selectedWordList {
  background-color: #b3ccff;
}

.container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  text-align: center;
}

.wordListContainer {
  background-color: #B3E5FC
}

.answer {
  position: absolte;
  top: 10px;
  botton: 10px;
  overflow: auto;
  overflow: auto;
  background-color: 00000
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

